.a {
    font-size: 40px;
    color: yellow;
  }

.bob{
    text-align: center;
    padding: 5vw;
    padding-top: 0vh;
    background-color: black;
    width: 28vw;
    height: 90vh;
    margin-left: 10vw;
    font-size: 5vh;
}

.bottom {
    margin-left: 5vw;
}

.bottomcontent {
    display: flex;
}

.homerecs {
    background-color: black;
    width: 100vw;
    font-size: 4vw;
}

.homelistings {
    font-size: 5vh;
}

.homelistings2 {
    font-size: 5vh;
    margin-left: 3vw;
}

.image{
    width: 28vw;
}

.link {
    margin-bottom: 28vw;
    color: red;
}

.listings {
    font-size: 5vh;
}

.list_title {
    background-color: black;
    width: 35vw;
    font-size: 4vw;
}

.middle {
    display: flex;
    flex-direction: column;
}
.others {
    margin-bottom: 15vh;
    margin-left: 5vw;
    margin-right: 0vw;
    width: 38vw;
    background-color: black;
}

.page {
    background-color: black;
    color: yellow;
    font-family: "Protest Riot", sans-serif;
    font-style: cursive;
    font-weight: 400;
    border: solid;
    border-style: inset;
    border-color: red;
    border-width: 1vw;

    
}

.premeire {
    
}

.premeire_title{
    text-decoration: underline;
    font-size: 10vh;
}

.protest-riot-regular {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rightside {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 15vh;
    text-align: center;
}

.toppage{
    display: flex;
    flex-direction: row;
    background-color: black;   
}

.x{
    font-size: 15vh;
}

.green {
    color: rgb(11, 99, 10);
}